# Binaries
/server

# Config files
configs/config.yaml
configs/**.json

migrations/tmp

# Vendor
vendor/

# Logs
logs/

# IDE and Editor Configurations
.idea/
.vscode/
*.swp

# System Files
.DS_Store

# Others
*.exe
*.log
*.out
*.test
coverage.out

